<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <title>Save Image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Added the following three libs refernces for Backbone -->
    <script type='text/javascript' src='libs/jquery-1.5.1.min.js'></script>
    <script type='text/javascript' src='libs/underscore.js'></script>
    <script type='text/javascript' src='libs/backbone.js'></script>
    <script type='text/javascript' src='libs/webtoolkit.base64.js'></script>
    <script type='text/javascript' src='libs/sha1.js'></script>
    <script type='text/javascript' src='libs/jquery.form.js'></script>
    <script type='text/javascript' src='libs/base64-binary.js'></script>
    <script type='text/javascript' src='app/image_saver.js'></script>

    <!-- Bootstrap -->
    <script type='text/javascript' src='app/bootstrap.js'></script>

    <!-- Templates -->
    <script type="text/template" id="image-preview-template">
      <p><%= filename %></p>
      <img id="imagePreview" src='<%= data %>' />
    </script>

    <script type="text/template" id="image-meta-template">
      <input type="hidden" name="key" value='<%= key %>' />
      <input type="hidden" name="acl" value='<%= acl %>' />
      <input type="hidden" name="Content-Type" value='<%= contentType %>' />
      <input type="hidden" name="AWSAccessKeyId" value='<%= AWSAccessKeyId %>' />
      <input type="hidden" name="success_action_redirect" value='<%= successActionRedirect %>' />
      <input type="hidden" name="x-amz-meta-filename" value='<%=filename %>' />
      <input type="hidden" name="Policy" value='<%= POLICY %>' />
      <input type="hidden" name="Signature" value='<%= SIGNATURE %>' />
    </script> 

    <script type="text/template" id="image-file-template">
      <form id="formBlob" action='http://<%= bucket %>.s3.amazonaws.com' method="post" enctype="multipart/form-data" >
	<input id="myImage" type="file" name="file" /><br />
	<input id="btnSave" type="submit" value="Save Image"></input>
      </form>
    </script>

</head>

<body>
  <div id='container' />
</body>

</html>
